In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv("C:/Users/HP/OneDrive/Desktop/cirrhosis.csv")

In [6]:
df.info

<bound method DataFrame.info of       ID  N_Days Status             Drug    Age Sex Ascites Hepatomegaly  \
0      1     400      D  D-penicillamine  21464   F       Y            Y
1      2    4500      C  D-penicillamine  20617   F       N            Y
2      3    1012      D  D-penicillamine  25594   M       N            N
3      4    1925      D  D-penicillamine  19994   F       N            Y
4      5    1504     CL          Placebo  13918   F       N            Y
..   ...     ...    ...              ...    ...  ..     ...          ...
413  414     681      D              NaN  24472   F     NaN          NaN
414  415    1103      C              NaN  14245   F     NaN          NaN
415  416    1055      C              NaN  20819   F     NaN          NaN
416  417     691      C              NaN  21185   F     NaN          NaN
417  418     976      C              NaN  19358   F     NaN          NaN

    Spiders Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos    SGOT  \
0         Y     Y       14.5        261.0     2.60   156.0    1718.0  137.95
1         Y     N        1.1        302.0     4.14    54.0    7394.8  113.52
2         N     S        1.4        176.0     3.48   210.0     516.0   96.10
3         Y     S        1.8        244.0     2.54    64.0    6121.8   60.63
4         Y     N        3.4        279.0     3.53   143.0     671.0  113.15
..      ...   ...        ...          ...      ...     ...       ...     ...
413     NaN     N        1.2          NaN     2.96     NaN       NaN     NaN
414     NaN     N        0.9          NaN     3.83     NaN       NaN     NaN
415     NaN     N        1.6          NaN     3.42     NaN       NaN     NaN
416     NaN     N        0.8          NaN     3.75     NaN       NaN     NaN
417     NaN     N        0.7          NaN     3.29     NaN       NaN     NaN

     Tryglicerides  Platelets  Prothrombin  Stage
0            172.0      190.0         12.2    4.0
1             88.0      221.0         10.6    3.0
2             55.0      151.0         12.0    4.0
3             92.0      183.0         10.3    4.0
4             72.0      136.0         10.9    3.0
..             ...        ...          ...    ...
413            NaN      174.0         10.9    3.0
414            NaN      180.0         11.2    4.0
415            NaN      143.0          9.9    3.0
416            NaN      269.0         10.4    3.0
417            NaN      350.0         10.6    4.0

[418 rows x 20 columns]>

In [7]:
df.columns

Index(['ID', 'N_Days', 'Status', 'Drug', 'Age', 'Sex', 'Ascites',
       'Hepatomegaly', 'Spiders', 'Edema', 'Bilirubin', 'Cholesterol',
       'Albumin', 'Copper', 'Alk_Phos', 'SGOT', 'Tryglicerides', 'Platelets',
       'Prothrombin', 'Stage'],
      dtype='object')

In [8]:
df.shape

(418, 20)

In [10]:
df.describe()

,ID,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
count,418.000000,418.000000,418.000000,418.000000,284.000000,418.000000,310.000000,312.000000,312.000000,282.000000,407.000000,416.000000,412.000000
mean,209.500000,1917.782297,18533.351675,3.220813,369.510563,3.497440,97.648387,1982.655769,122.556346,124.702128,257.024570,10.731731,3.024272
std,120.810458,1104.672992,3815.845055,4.407506,231.944545,0.424972,85.613920,2140.388824,56.699525,65.148639,98.325585,1.022000,0.882042
min,1.000000,41.000000,9598.000000,0.300000,120.000000,1.960000,4.000000,289.000000,26.350000,33.000000,62.000000,9.000000,1.000000
25%,105.250000,1092.750000,15644.500000,0.800000,249.500000,3.242500,41.250000,871.500000,80.600000,84.250000,188.500000,10.000000,2.000000
50%,209.500000,1730.000000,18628.000000,1.400000,309.500000,3.530000,73.000000,1259.000000,114.700000,108.000000,251.000000,10.600000,3.000000
75%,313.750000,2613.500000,21272.500000,3.400000,400.000000,3.770000,123.000000,1980.000000,151.900000,151.000000,318.000000,11.100000,4.000000
max,418.000000,4795.000000,28650.000000,28.000000,1775.000000,4.640000,588.000000,13862.400000,457.250000,598.000000,721.000000,18.000000,4.000000

In [11]:
df.tail()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
413,414,681,D,NaN,24472,F,NaN,NaN,NaN,N,1.2,NaN,2.96,NaN,NaN,NaN,NaN,174.0,10.9,3.0
414,415,1103,C,NaN,14245,F,NaN,NaN,NaN,N,0.9,NaN,3.83,NaN,NaN,NaN,NaN,180.0,11.2,4.0
415,416,1055,C,NaN,20819,F,NaN,NaN,NaN,N,1.6,NaN,3.42,NaN,NaN,NaN,NaN,143.0,9.9,3.0
416,417,691,C,NaN,21185,F,NaN,NaN,NaN,N,0.8,NaN,3.75,NaN,NaN,NaN,NaN,269.0,10.4,3.0
417,418,976,C,NaN,19358,F,NaN,NaN,NaN,N,0.7,NaN,3.29,NaN,NaN,NaN,NaN,350.0,10.6,4.0

In [13]:
df.fillna

<bound method DataFrame.fillna of       ID  N_Days Status             Drug    Age Sex Ascites Hepatomegaly  \
0      1     400      D  D-penicillamine  21464   F       Y            Y
1      2    4500      C  D-penicillamine  20617   F       N            Y
2      3    1012      D  D-penicillamine  25594   M       N            N
3      4    1925      D  D-penicillamine  19994   F       N            Y
4      5    1504     CL          Placebo  13918   F       N            Y
..   ...     ...    ...              ...    ...  ..     ...          ...
413  414     681      D              NaN  24472   F     NaN          NaN
414  415    1103      C              NaN  14245   F     NaN          NaN
415  416    1055      C              NaN  20819   F     NaN          NaN
416  417     691      C              NaN  21185   F     NaN          NaN
417  418     976      C              NaN  19358   F     NaN          NaN

    Spiders Edema  Bilirubin  Cholesterol  Albumin  Copper  Alk_Phos    SGOT  \
0         Y     Y       14.5        261.0     2.60   156.0    1718.0  137.95
1         Y     N        1.1        302.0     4.14    54.0    7394.8  113.52
2         N     S        1.4        176.0     3.48   210.0     516.0   96.10
3         Y     S        1.8        244.0     2.54    64.0    6121.8   60.63
4         Y     N        3.4        279.0     3.53   143.0     671.0  113.15
..      ...   ...        ...          ...      ...     ...       ...     ...
413     NaN     N        1.2          NaN     2.96     NaN       NaN     NaN
414     NaN     N        0.9          NaN     3.83     NaN       NaN     NaN
415     NaN     N        1.6          NaN     3.42     NaN       NaN     NaN
416     NaN     N        0.8          NaN     3.75     NaN       NaN     NaN
417     NaN     N        0.7          NaN     3.29     NaN       NaN     NaN

     Tryglicerides  Platelets  Prothrombin  Stage
0            172.0      190.0         12.2    4.0
1             88.0      221.0         10.6    3.0
2             55.0      151.0         12.0    4.0
3             92.0      183.0         10.3    4.0
4             72.0      136.0         10.9    3.0
..             ...        ...          ...    ...
413            NaN      174.0         10.9    3.0
414            NaN      180.0         11.2    4.0
415            NaN      143.0          9.9    3.0
416            NaN      269.0         10.4    3.0
417            NaN      350.0         10.6    4.0

[418 rows x 20 columns]>

In [14]:
df.loc(0)

In [15]:
df.head()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,1,400,D,D-penicillamine,21464,F,Y,Y,Y,Y,14.5,261.0,2.60,156.0,1718.0,137.95,172.0,190.0,12.2,4.0
1,2,4500,C,D-penicillamine,20617,F,N,Y,Y,N,1.1,302.0,4.14,54.0,7394.8,113.52,88.0,221.0,10.6,3.0
2,3,1012,D,D-penicillamine,25594,M,N,N,N,S,1.4,176.0,3.48,210.0,516.0,96.10,55.0,151.0,12.0,4.0
3,4,1925,D,D-penicillamine,19994,F,N,Y,Y,S,1.8,244.0,2.54,64.0,6121.8,60.63,92.0,183.0,10.3,4.0
4,5,1504,CL,Placebo,13918,F,N,Y,Y,N,3.4,279.0,3.53,143.0,671.0,113.15,72.0,136.0,10.9,3.0

In [16]:
df.isnull()

,ID,N_Days,Status,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,False,False,False,True,False,False,True,True,True,False,False,True,False,True,True,True,True,False,False,False
414,False,False,False,True,False,False,True,True,True,False,False,True,False,True,True,True,True,False,False,False
415,False,False,False,True,False,False,True,True,True,False,False,True,False,True,True,True,True,False,False,False
416,False,False,False,True,False,False,True,True,True,False,False,True,False,True,True,True,True,False,False,False
417,False,False,False,True,False,False,True,True,True,False,False,True,False,True,True,True,True,False,False,False

In [17]:
df.isnull().sum()

ID                 0
N_Days             0
Status             0
Drug             106
Age                0
Sex                0
Ascites          106
Hepatomegaly     106
Spiders          106
Edema              0
Bilirubin          0
Cholesterol      134
Albumin            0
Copper           108
Alk_Phos         106
SGOT             106
Tryglicerides    136
Platelets         11
Prothrombin        2
Stage              6
dtype: int64